<!DOCTYPE html>
<html>
<head>
	<title>A new hashing technique for Transmitting Data Securely</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='dashboard.css')}}"
	<link rel="stylesheet" type="text/css" href="slide navbar style.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
        <div class="container">
            <nav class="menu">
                <ul class="main-menu">
                    <li><i class="fa fa-home"></i><a href="/dashboard">Home</a></li>
                    <li class="active">
                        <i class="fa fa-briefcase"></i><a href="/sender">Sender</a>
                    </li>
                    <li><i class="fa fa-user"></i><a href="/sent">Sent</a></li>
                    <li><i class="fa fa-user"></i><a href="/receiver">Inbox</a></li>
                    <li><i class="fa fa-search"></i><a href="/logout">Logout</a></li>
                </ul>
            </nav>
            <article>
                <div class="content">
                        <form action="/senderform" method="post">
                            <center><h1>Send File</h1></center> <br/>

                            <div class="form-group">
                                <label>Select File to secure:</label> <br/>
                                <select class="form-control" id="filename" name='filename' required="">
                                    {%for i in range(0, l1)%}
                                        <option>{{dashboard_data1[i]}}</option>
                                    {%endfor%}
                                </select>
                            </div>
                        
                            <div class="form-group">
                                <label>Select to whom you want to transfer</label><br/>
                                <select class="form-control" id="receiver" name='receiver' required="">
                                    {%for i in range(0, l)%}
                                        <option>{{dashboard_data[i]}}</option>
                                    {%endfor%}
                                </select>
                            </div>

                            <div class="form-group">
                                <button class="btn-primary" type="submit">Send File</button>
                            </div>
                        </form>
                        <center>
                            <span style="color:blue">
                                {{res}}
                            </span>
                        </center>
                        <center>
                            <span style="color:red">
                                {{res1}}
                            </span>
                        </center>
                </div>
            </article>
        </div>
</body>
</html>